page-provincias {

  .btn_menu{
    height: 14.6rem;
  }

  .c_img {
    width: 80%;
  }

  .c_imgg {
    width: 80%;
    margin-top: 5%;
  }

  .spa_letra{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #000;
  }

  .spa_letraF{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 7%;
    color: #000;
  }
}
.fondoecu{

  background-image: url("../../assets/img/pri/bander.gif");
  background-position: center;
}
