page-mamiferos {
  .bg_name{
    background-color: #ab315b;
    color: white;
    text-align: center;
  }

}
.fondomam{

  background-image: url("../../assets/img/pri/puente.gif");
  background-position: center;
}
 h2{
   text-align: center;
   color: red;
   font-weight: bolder;
   font-size: xx-large;
 }

 .fon{
   background: #E5E7E9;
 }
