page-mamiferos {

}
.fondomam{

  background-image: url("../../assets/img/pri/fondomam.jpg");
}
 h2{
   text-align: center;
   color: red;
   font-weight: bold;
   font-size: xx-large;
 }

 .fon{
   background: #E5E7E9;
 }
