page-principal {

  .header-menu{
    background-color: #ffffff ;
  }

  .toolbar-background-md {
      border-color: #ffffff;
      background: #ffffff;
  }
 
  .btn_menu{
    height: 14.6rem;
  }

  .c_img {
    width: 80%;
  }

  .spa_letra{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #000;
  }

  .spa_letraF{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 7%;
    color: #000;
  }
  //background-image: url("../../assets/img/pri/fondo.jpg");
}
 .imagen{
   height: 85px;
   width: 100px;
   //background-image: url("../../assets/img/pri/fondo.jpg");
 }
.fondo{

  background-image: url("../../assets/img/pri/abecedario.gif");
  background-position: center;

}

h1{
  color: black;
  font-weight: bold;
  font-size: xx-large;
}

