page-informacion {

    .header-menu{
        background-color: #ffffff ;
    }

    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .cls_title{
        color: white;
        font-size: 18px;
        padding-left: 4%;
    }

    .btn_menu{
        height: 14.6rem;
    }

    .btn_letras{
        text-align: center;
        color: #181717;
    }

    .btn_letrash{
        text-align: center;
        color: #181717;
        padding-bottom: 16px;
    }

    .btn_letrast{
        text-align: center;
    }

    .spa_letra{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    /*    padding-bottom: 0px;
    padding-top: 17px;*/

    .c_img {
        width: 80%;
    }

    .c_img_h {
        width: 70%;
        padding-top: 9%;
    }

    .c_img_s {
        margin-top: 10%;
        width: 100%;

    }

    .c_img_e {
        width: 27%;

    }

    .ion-diagnostics-toast-message {
        /* -webkit-flex: 1; */
        -ms-flex: 0;
        /* flex: 1; */
        padding: 0px;
        /* font-family: -apple-system,"Roboto",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
        /* font-size: 14px; */
        /* color: #c83939; */
    }


   

}
