page-informacion {

    .wrapper {
        //margin-top: 10rem;
        display: grid;
       // grid-template-columns: repeat(8, 1fr);
        grid-gap: 80px;
        grid-auto-rows: 250px;
        align-items: start;
        
      }

    .icon{
        display: block;
        text-align: right;
        font-size: 30px;
      }

    .clsTitulo{
        color: rgb(22, 21, 21);
        font-size: 22px;
        padding-top: 5%;
        font-style:italic;
        font-weight:bold;
        font-family:'Helvetica','Verdana','Monaco',sans-serif;
    }

    .btn_menu{
        height: 29.6rem;
    }

    .btn_letras{
        text-align: center;
        color: #181717;
    }

    .btn_letrash{
        text-align: center;
        color: #181717;
        padding-bottom: 16px;
    }

    .btn_letrast{
        text-align: center;
    }

    .spa_letra{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    /*    padding-bottom: 0px;
    padding-top: 17px;*/

    .c_img {
        width: 80%;
    }

    .c_img_h {
        width: 70%;
        padding-top: 9%;
    }

    .c_img_s {
        margin-top: 10%;
        width: 100%;

    }

    .c_img_e {
        width: 27%;

    }

    .ion-diagnostics-toast-message {
        /* -webkit-flex: 1; */
        //ms-flex: 0;
        /* flex: 1; */
        padding: 0px;
        /* font-family: -apple-system,"Roboto",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
        /* font-size: 14px; */
        /* color: #c83939; */
    }


   

}
