page-profesiones {

  .bg_name{
    background-color: #ab315b;
    color: white;
    text-align: center;
  }

}
.fondopro{

  background-image: url("../../assets/img/pri/Homer.gif");
  background-position: center;
}
.fon{
  background: #E5E7E9;
}
