page-avanzado {

  .btn_menu{
    height: 14rem;
    width: 20rem;
    text-align: center;
    margin-left: 19%;
  }

  .c_img {
    width: 72%;
  }

  .c_imgm {
    width: 62%;
  }

  .spa_letra{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #000;
  }

}
.fondoina{

  background-image: url("../../assets/img/pri/opa.gif");
  background-position: center;

}

.coloav {
  color: brown;
}
