page-terrestre {
  .icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .bg_name{
    background-color: #ab315b;
    color: white;
    text-align: center;
  }

}
.fondote{

  background-image: url("../../assets/img/pri/bici.gif");
}
.fon{
  background: #E5E7E9;
}
