page-insular {

    .bg_name{
        background-color: #ab315b;
        color: white;
        text-align: center;
      }

      .fondopec{
        background-image: url("../../assets/img/pri/tortugaa.gif");
        background-position: center;
      }
      

}
