page-practica {

}
.imagen{
  height: 85px;
  width: 100px;
  //background-image: url("../../assets/img/pri/fondo.jpg");
}
.pract{

  background-image: url("../../assets/img/pract.gif");
}

h1{
  color: black;
  font-weight: bold;
  font-size: xx-large;
}
