page-intermedio {

  .btn_menu{
    height: 14rem;
  }

  .c_img {
    width: 80%;
  }

  .c_imgm {
    width: 55%;
  }

  .spa_letra{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #000;
  }
}
.fondoin{

  background-image: url("../../assets/img/pri/winnie.gif");
  background-position: center;

}

.coloi {
  color: chartreuse;
}
