
  Generated template for the CartasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <ion-navbar class="header-menu" style="background-color: white; margin-left: -12px;">
        <ion-title style="background-color: white">Memorizando</ion-title>
    </ion-navbar>

      <ion-grid>
          <ion-row align-items-center >
            <ion-col class="col-6" *ngFor="let item of cartas" (click)="verCarta(item)">
              <div class="face front" class="flip" >
                  <img *ngIf="item.select==true" [src]="item.imagenvistaTURL" width="150" height="150">
              </div>
              <div class="face back">
                  <img *ngIf="item.select==false" [src]="item.imagevistaFURL" width="150" height="150">
              </div>
                
            </ion-col>
          </ion-row> 
      </ion-grid>


      <!--div class="flip">
          <ion-slides (ionSlideDidChange)="slideChanged();">
            <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
              <div class="card" [class.flipped]="isFlipped" class="col-6" *ngFor="let item of cartas" (click)="verCarta(item)" style="border-style: none;">
                <div class="face front">
                    <img *ngIf="item.select==true" [src]="item.imagenvistaTURL" width="20" height="150">
                </div>
                <div class="face back" text-center item-center>
                    <img *ngIf="item.select==false" [src]="item.imagevistaFURL" width="20" height="150">
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </div-->


  
  

  <!--ion-grid>
    <ion-row style="margin-bottom: 28%;">
      <ion-col col-4 text-right     >
        <div  class="space_I" >
          <ion-grid>
                <ion-row >
                  <ion-col col-6>
                    <div>
                      <div>
                        <div class="flip" >
                          <ion-slides (ionSlideDidChange)="slideChanged();" >
                            <ion-slide  style="overflow-x: hidden; overflow-y: hidden;">
                              <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none; ">
                                <div class="face front">
                                  <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                </div>
                                <div class="face back" text-center item-center>
                                    <div style="background-color: white; padding-top: 15%;"></div>
                                  <img class="cardImg" src="../../assets/img/col/rojo.png" width="40" height="40">
                                  <div style="background-color: white; padding-top: 15%;"></div>
                                </div>
                              </div>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div>
                    
                    
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-col>
      <ion-col col-4 text-left>
        <div class="space_I" >
          <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <div>

                  
                  <div>
                    <div class="flip">
                      <ion-slides (ionSlideDidChange)="slideChanged();">
                        <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                          <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                            <div class="face front">
                              <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                            </div>
                            <div class="face back" text-center item-center>
                                <div style="background-color: white; padding-top: 10%;"></div>
                                <img class="cardImg" src="../../assets/img/mes/abril.jpg" width="40" height="40">
                            </div>
                          </div>
                        </ion-slide>
                      </ion-slides>
                    </div>
                  </div>
                  
                  
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col col-4 text-left>
          <div class="space_I" >
            <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <div>
  
         
                    <div >
                      <div class="flip">
                        <ion-slides (ionSlideDidChange)="slideChanged();">
                          <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                            <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                              <div class="face front">
                                <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                              </div>
                              <div class="face back" text-center item-center>
                                  <div style="background-color: white; padding-top: 10%;"></div>
                                  <img class="cardImg" src="../../assets/img/abc/z.jpg" width="40" height="40">
                              </div>
                            </div>
                          </ion-slide>
                        </ion-slides>
                      </div>
                    </div>
                    
                    
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 28%;">
      <ion-col col-6 >
        <div  class="space_I" >
          <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <div>
                    
                      <div class="card-Section">
                        <div class="flip">
                          <ion-slides (ionSlideDidChange)="slideChanged();">
                            <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                              <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                                <div class="face front">
                                  <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                </div>
                                <div class="face back" text-center item-center>
                                    <div style="background-color: white; padding-top: 15%;"></div>
                                  <img class="cardImg" src="../../assets/img/col/rojo.png" width="40" height="40">
                                  <div style="background-color: white; padding-top: 15%;"></div>
                                </div>
                              </div>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div>
                    
                    
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="space_I" >
          <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <div>

                  
                  <div class="card-Section">
                    <div class="flip">
                      <ion-slides (ionSlideDidChange)="slideChanged();">
                        <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                          <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                            <div class="face front">
                              <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                            </div>
                            <div class="face back" text-center item-center>
                                <div style="background-color: white; padding-top: 18%;"></div>
                              <img class="cardImg" src="../../assets/img/col/negro.jpg" width="40" height="40">
                            </div>
                          </div>
                        </ion-slide>
                      </ion-slides>
                    </div>
                  </div>
                  
                  
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col col-4 text-left>
          <div class="space_I" >
            <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <div>
  
                    
                    <div class="card-Section">
                      <div class="flip">
                        <ion-slides (ionSlideDidChange)="slideChanged();">
                          <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                            <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                              <div class="face front">
                                <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                              </div>
                              <div class="face back" text-center item-center>
                                <div style="background-color: white; padding-top: 18%;"></div>
                                <img class="cardImg" src="../../assets/img/col/cafe.jpg" width="40" height="40">
                                <div style="background-color: white; padding-top: 15%;"></div>
                              </div>
                            </div>
                          </ion-slide>
                        </ion-slides>
                      </div>
                    </div>
                    
                    
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </ion-col>
    </ion-row>

    <!--ion-row style="margin-bottom: 28%;" >
        <ion-col col-6 >
          <div  class="space_I" >
            <ion-grid>
                  <ion-row>
                    <ion-col col-6>
                      <div>
                      
                        <div class="card-Section">
                          <div class="flip">
                            <ion-slides (ionSlideDidChange)="slideChanged();">
                              <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                                <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                                  <div class="face front">
                                    <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                  </div>
                                  <div class="face back" text-center item-center>
                                    <div style="background-color: white; padding-top: 18%;"></div>
                                    <img class="cardImg" src="../../assets/img/col/cafe.jpg" width="40" height="40">
                                    <div style="background-color: white; padding-top: 12%;"></div>
                                  </div>
                                </div>
                              </ion-slide>
                            </ion-slides>
                          </div>
                        </div>
                      
                      
                      </div>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="space_I" >
            <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <div>
  
                    
                    <div class="card-Section">
                      <div class="flip">
                        <ion-slides>
                          <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                            <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                              <div class="face front">
                                <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                              </div>
                              <div class="face back" text-center item-center>
                                  <div style="background-color: white; padding-top: 10%;"></div>
                                  <img class="cardImg" src="../../assets/img/ecuador.png" width="40" height="40" style="background-color: white; padding-bottom: 10%; padding-top: 10%;">
                              </div>
                            </div>
                          </ion-slide>
                        </ion-slides>
                      </div>
                    </div>
                    
                    
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        <ion-col col-4 text-left>
            <div class="space_I" >
              <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                      <div>
                      <div class="card-Section">
                        <div class="flip">
                          <ion-slides (ionSlideDidChange)="slideChanged();">
                            <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                              <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                                <div class="face front">
                                  <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                </div>
                                <div class="face back" text-center item-center>
                                  <div style="background-color: white; padding-top: 18%;"></div>                                  
                                  <img class="cardImg" src="../../assets/img/col/negro.jpg" width="40" height="40">
                                </div>
                              </div>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div>
                      
                      
                      </div>
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </div>
          </ion-col>
      </ion-row-->

      <!--ion-row >
          <ion-col col-6 >
            <div  class="space_I" >
              <ion-grid>
                    <ion-row>
                      <ion-col col-6>
                        <div>
                        
                          <div class="card-Section">
                            <div class="flip">
                              <ion-slides (ionSlideDidChange)="slideChanged();">
                                <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                                  <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                                    <div class="face front">
                                      <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                    </div>
                                    <div class="face back" text-center item-center>
                                      <div style="background-color: white; padding-top: 10%;"></div>
                                      <img class="cardImg" src="../../assets/img/abc/z.jpg" width="40" height="40">
                                    </div>
                                  </div>
                                </ion-slide>
                              </ion-slides>
                            </div>
                          </div>
                        
                        
                        </div>
                      </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
          </ion-col>
          <ion-col col-6>
            <div class="space_I" >
              <ion-grid>
                  <ion-row>
                    <ion-col col-6>
                      <div>
    
                      
                      <div class="card-Section">
                        <div class="flip">
                          <ion-slides (ionSlideDidChange)="slideChanged();">
                            <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                              <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                                <div class="face front">
                                  <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                </div>
                                <div class="face back" text-center item-center>
                                    <div style="background-color: white; padding-top: 10%;"></div>
                                    <img class="cardImg" src="../../assets/img/ecuador.png" width="40" height="40" style="background-color: white; padding-bottom: 10%; padding-top: 10%;">
                                </div>
                              </div>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div>
                      
                      
                      </div>
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </div>
          </ion-col>
          <ion-col col-4 text-left>
              <div class="space_I" >
                <ion-grid>
                    <ion-row>
                      <ion-col col-12>
                        <div>
                        <div class="card-Section">
                          <div class="flip">
                            <ion-slides (ionSlideDidChange)="slideChanged();">
                              <ion-slide style="overflow-x: hidden; overflow-y: hidden;">
                                <div class="card" [class.flipped]="isFlipped" (click)="flip()" style="border-style: none;">
                                  <div class="face front">
                                    <img class="cardImg" src="../../assets/img/col/abejaM.jpg" width="40" height="40">
                                  </div>
                                  <div class="face back" text-center item-center>
                                      <div style="background-color: white; padding-top: 10%;"></div>
                                      <img class="cardImg" src="../../assets/img/mes/abril.jpg" width="40" height="40">
                                  </div>
                                </div>
                              </ion-slide>
                            </ion-slides>
                          </div>
                        </div>
                        
                        
                        </div>
                      </ion-col>
                    </ion-row>
                </ion-grid>
              </div>
            </ion-col>
        </ion-row-->
    

  <!--/ion-grid-->


</ion-content>
