page-aereo {
  .icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .bg_name{
    background-color: #ab315b;
    color: white;
    text-align: center;
  }
}
.fondoae{

  background-image: url("../../assets/img/pri/aereo.gif");
}
.fon{
  background: #E5E7E9;
}
