page-numeros {

  .delivery-back-button {
    color: white;
    margin-bottom: 10px;
  }

  .firstT{
      padding: 2% 0 0 2%;
      background-color: #005448;
  }
  
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.bg-select{
  //background: rgba($color: #011138, $alpha: 0.5);
  background-color:#011138;
}

.fondon{

  background-image: url("../../assets/img/pri/numeros.gif");
}

.ima{

  width: 300%;
  height: 300%;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: auto;
    width: auto;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
