<ion-header>
  <ion-navbar>
    <!-- Título de la aplicación -->
    <ion-title>EL AHORCADO</ion-title>
  </ion-navbar>
</ion-header>

<!-- Sección contenido -->
<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/img/aho/{{numFallos}}.png" />
      </ion-col>
      <ion-col>
        <ion-badge *ngFor="let fallo of fallos">{{fallo}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p id="palabra-adivinada-por-ahora">{{palabraAdivinadaPorAhora}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="botonera">
        <button *ngFor="let boton of botones" ion-button round small outline
                (click)="botonClicked(boton)"
                [ngClass]="boton.estado">{{boton.letra}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
