page-anfibios {

  .bg_name{
    background-color: #ab315b;
    color: white;
    text-align: center;
  }

}
.fondoanf{

  background-image: url("../../assets/img/pri/hierba.gif");
}

.fon{
  background: #E5E7E9;
}
